* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

/* Intro section */
#intro {
    min-height: 100vh;
}
.intro-title {
    font-size: 60px;
}
.intro-subtitle {
    font-size: 20px;
}

/* Servicios */
#services {
    margin-top: -100px;
}